<!DOCTYPE html>
<html>
  <head>
    <title>HomePage</title>
    <link rel="stylesheet" type = "text/css" href = "../static/style.css">
  </head>

  <body class="main">
    <header>
      <h1>QwikiMaps</h1>
    </header>
    <div class="transbox">
      <p>
        Where would you like to go?
      </p>
      <form method = "POST">
        <input type = "text" name = "location" placeholder="Location">
        <p/>
        <input type = "submit" name = "button" value = "Search!">
      </form>
    </div>
  </body>

</html>
