html{/*presets for the page*/
	height:100%;
    margin: 0;
    padding: 0;
}
body{/*body text for page.html*/
	height:100%;
    margin: 0;
    padding: 0;
    font-family: "Verdana", sans-serif;
    color: white;
}
body.main{/*body text for home.html*/
	height:100%;
    margin: 0;
    padding: 0;
	background-image: url("background.jpg");
	background-position:top;
	background-size:80%;
	background-color:black;
	background-repeat:no-repeat;
    font-family: "Verdana", sans-serif;
    color: white;
}
header{/*header for home.html*/
	color:white;
	text-align:center;
	padding:5px;
}
div.transbox{/*box used to hold form in home.html*/
	margin: auto;
	width:300px;
	margin-top:200px;
	padding: 30px 30px 30px 30px;
	background-color: black;
	background-size: contain;
	opacity: 0.9;
	text-align: center;
}
a:visited{
    color:#fff;
}
footer{/*footer that holds text at the bottom of page.html*/
	margin: auto;
	padding: 0px 30px 30px 30px;
	background-color: black;
	background-size: contain;
	opacity: 0.9;
	position: fixed;
	bottom: 0;
	border-style: double;
	border-color: blue;
	border-width: thick;
}
#map-canvas{/*sets size of the map in page.html*/
	height:100%;
}